<div class="form-group">
 <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ürün ara" [(ngModel)]="filterText"/>
  <small *ngIf="filterText" id="productName" class="form-text text-muted"> Şu an <strong>{{filterText}} </strong>aradınız.. </small>
</div>

<h3 *ngIf= "products; else noProduct">{{title}}</h3>
<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
      Bu kategoride gösterilecek ürün yoktur.
    </div>
  </ng-template>
</div>

<div class="row">
  <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.name | uppercase}} {{product.price | currency:'TRY'}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a (click) = "addToCart(product)" class="btn btn-primary">Add to Basket</a>
    </div>
  </div>
</div>

